[Unit]
Description=MSU Parser Schedule Update Service (Go)
After=network.target

[Service]
Type=oneshot
User=ubuntu
WorkingDirectory=/home/ubuntu/msuparser
ExecStart=/home/ubuntu/msuparser/test_parser
StandardOutput=journal
StandardError=journal
SyslogIdentifier=msuparser-update

[Install]
WantedBy=default.target
