[Unit]
Description=MSU Timetable Bot (Go)
After=network.target msuparser-update.service
Wants=msuparser-update.timer

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/msuparser
ExecStart=/home/ubuntu/msuparser/main
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=msuparser-bot

[Install]
WantedBy=default.target
